import("stats")

export(
  "MovingAverage", 
  "EWMA", 
  "EWMAmult", 
  "NextBusinessDay", 
  "matrix.sqrt", 
  "matrix.sqrt.inv"
)

## methods for UniEWMA
S3method("coef", "UniEWMA")
S3method("residuals", "UniEWMA")
S3method("print", "UniEWMA")

## methods for MultiEWMA
S3method("coef", "MultiEWMA")
S3method("residuals", "MultiEWMA")
S3method("print", "MultiEWMA")