import("xts")
importFrom("graphics", "abline", "par", "plot")
importFrom("stats", "lm.fit", "quantile", "sd", "coef")
importFrom("utils", "tail")
importFrom("grDevices", "dev.interactive", "devAskNewPage")
importFrom("zoo", "zoo", "is.zoo", "index")

export(
  "ihurst",
  "imom"
)

## methods for ivol
S3method("summary", "ivol")
S3method("plot", "ivol")
S3method("print", "ivol")
