importFrom("graphics", "abline", "par", "plot")
importFrom("stats", "lm.fit", "quantile", "sd")
importFrom("utils", "tail")

export(
  "ihurst",
  "imom"
)

## methods for ivol
S3method("summary", "ivol")
S3method("plot", "ivol")
S3method("print", "ivol")
