## export functions of package
export("ppml", "bread.ppml", "vcov.ppml", "summary.ppml")

## methods for ppml
S3method("vcov", "ppml")
S3method("summary", "ppml")

## import functions of other packages
importFrom("sandwich", "sandwich")
importFrom("lmtest", "coeftest")
importFrom("stats", "glm", "quasipoisson", "summary.glm")
