import("stats", "Formula")
importFrom("sandwich", "bread", "estfun")
importFrom("numDeriv", "grad", "hessian")

export(
  "htobit",
  "htobit_control",
  "htobit_fit",
  "getSummary.htobit"
)

## methods for htobit
S3method("bread", "htobit")
S3method("coef", "htobit")
S3method("estfun", "htobit")
S3method("fitted", "htobit")
S3method("logLik", "htobit")
S3method("model.frame", "htobit")
S3method("model.matrix", "htobit")
S3method("predict", "htobit")
S3method("print", "htobit")
S3method("residuals", "htobit")
S3method("summary", "htobit")
S3method("print", "summary.htobit")
S3method("terms", "htobit")
S3method("update", "htobit")
S3method("vcov", "htobit")
